body{
    margin:0;
}
.top-text{
    display:flex;
    justify-content:space-between;
    margin-left:90px;
}

.penguin{
    height:auto;
    width:350px;
    margin-bottom:70px;
    margin-left:30px;
}

.header{
    display:flex;
    flex-direction:column;
    background-color:#1F2937;
    color:white;
}

.header-text{
    display:flex;
    flex-direction:column;
    margin-left:90px;
    margin-right:40px;
}

.header-main{
    display:flex;
    margin-top:40px;
}

.links{
    display:flex;
    gap:10px;
}

.header2{
    font-weight:bold;
    font-size:24px;
    text-align:center;
    margin:40px;
}

button{
    width:70px;
    margin-top:15px;
    background-color:#3882F6;
    color:white;
    border-radius:5px;
}

.row{
    display:flex;
    gap:30px;
    justify-content:center;

}

.container{
    display:flex;
    margin-bottom:20px;
    margin-top:5px;
    font-size:14px;
}

img{
    width:200px;
    border-radius:5px;
    margin-bottom:5px;
}

.img-caption{
    display:flex;
    flex-direction:column;
    text-align:justify;
    width:200px;
    margin-bottom:20px;
    font-size:14px;
    font-weight:bold;
}

.section-three{
    background-color:#E5E7EB;
    padding:30px;
    margin-top:50px;
}

.quote{
    font-size:24px;
    font-style:italic;
    text-align:center;
    padding:40px;
}

.signature{
    font-weight:bold;
    text-align:end;
    font-size:18px;
}

.footer{
    display:flex;
    justify-content:space-between;
    color:white;
    background-color:#3882F6;
    text-align:start;
    padding:40px;
    margin-right:200px;
    margin-left:200px;
    margin-bottom:100px;
    margin-top:100px;
    border-radius:5px;
}
.end-button{
    border:1px solid white;
    border-radius:5px;
}

a{
    color:yellow;
}